// COLOR PALETTES

$color1: #8e4545;
$color2: rgb(175, 34, 34);
$color3: #757575;
$color4: #ebebeb;
$color5: #00bcd4;
$color6: #ffc107;
$color-bg-transparent: rgba(249, 102, 102, 0.155);

/* BOOTSTRAP */
$primary: $color1;
$secondary: $color2;
$success: $color3;
$info: $color4;
$warning: $color6;
$danger: $color2;
$font-family-sans-serif: "Poppins";
$navbar-light-color: $color1;
$navbar-light-hover-color: $color2;
$navbar-light-active-color: $color2;
$nav-link-font-weight: 600;
$border-radius: 5px;
$form-feedback-valid-color: $color1;
$nav-tabs-link-active-color: $color2;

/* SWEETALERT */
$swal2-confirm-button-background-color: $color1;
$swal2-cancel-button-background-color: $color2;
$swal2-success: $color1;
