.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .text {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* Add any other SCSS properties you want to style your text */
  }
  
  .custom-table th {
    background-color: #f0f0f0;
  }
  
  .custom-table td {
    text-align: center;
  }

  .custom-table {
    margin-top: 50px;
  }
  
  .table-header {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .table-date {
    font-weight: bold;
    color: red;
  }
  
  .table-cell {
    text-align: center;
  }
  
  .checked {
    background-color: #c3e6cb;
  }
  
  .not-checked {
    background-color: #f5c6cb;
  }

  .home-container {
    margin-top: 200px;
  }
  
  .text-container {
    margin-bottom: 20px;
  }
  
  .carousel-container {
    height: 300px;
    overflow-y: auto;
  }
  
  .table-container {
    overflow-x: auto;
    margin-bottom: 200px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .text-container {
      text-align: center;
    }
    .carousel-container {
      margin-top: 100px;
      height: 800px;
      margin-bottom: 400px;
    }

    .image-container {
      justify-content: center;
      margin-bottom: 20px;
      height: 100px;
    }

    .text{
      margin-top: 200px;
      font-size: 16px;
    }

    .form{
      text-align: center;
      align-items: center;
    }
  }
  
  @media (max-width: 575px) {
    .home-container {
      margin-top: 100px;
    }
  }
  